/* 全体領域 */


body{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

a {
    text-decoration: none;
    color:white;
    }

a:visited{
        color : white;
      }
a:hover{
    opacity: 0.5;
}

ul {
    list-style:none;
    }

h2,h3{
    margin-block-start: 0.0em;
    margin-block-end: 0.0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p{
    color:black;
}

p.danraku{
    margin:50px 50px 0px 0px;
}


.englishTitle{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: black;
    padding: 50px 0px 0px 0px;
    text-shadow: yellow 0px 0px 7px;
    }
    
.japaneseTitle{
    font-size: 18px;
    text-align: center;
    color: black;
    padding: 0px 0px 25px 0px;
    }
    
.explainText{
    font-size: 16px;
    text-align: center;
    color: black
    ;
    padding: 20px;
    }

.reportText{
    font-size: 24px;
    text-align: center;
    color: black;
    padding: 20px;
        }

    

    /* ヘッダー領域 */
#header{
    width: 100%;
    height: 60px;
    top: 0;
    align-items: center;
    display: flex;
    background: #20a8d8;
    position: fixed;
    z-index: 3;
}

#header.transform{
    height: 60px;
    top: 0;
    background: #20a8d8;
    text-shadow: white 0px 0px 15px;

}

.headerLeft{
width: 30%;
}

.headerRight{
width: 70%;
text-align: right;
}

.headerLogo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: white;
    /* text-shadow: white 0px 0px 5px; */
    margin: 0px 0px 0px 30px;
}


.globalMenu{
    /* font-size: 18px; */
    padding: 15px;
}

/* メインビジュアル */

.mainVisual{
    background: url(../img/ohori01.jpg)no-repeat center center;
    background-size: contain;
    /* background-size: 1366px; */
    height: 100vh;
    width: 100%;
    /* height:700px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.catchCopy{
    vertical-align: middle;
}

/* .catchSlide{
    display: flex;
    width: 1366px;
    margin: 50px 0px 10px 0px;
} */

.mainCatch{
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-shadow: white 0px 0px 10px;
    margin: 50px 0px 10px 0px;
}

.subCatch{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    padding: 0px 0px 0px 0px;
    margin: 100px 0px 10px 0px;
}

/* TOPボタン　ここから */

.topButton{
    text-align: center;
    padding: 50px;
    margin:50px 0px 0px 0px;
}

.topButtonText {
    display: inline-block;
    width: 250px;
    height:50px;
    text-align: center;
    background-color: #20c997;
    font-size: 24px;
    line-height: 52px;
    color: #FFF;
    text-decoration: none;
    border: 2px solid #20c997;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .topButtonText:hover{
    opacity: 0.7;
  }
  .topButtonText:hover:after{
    height: 240%;
    opacity: 0.9;
  }
  .topButtonText:active:after{
    height: 340%;
    opacity: 1;
  }

  a.topButtonText:visited{
      color: white;
  }
  /* TOPボタン　ここまで */


/* ABOUT領域 */

#about{
    background: black;
    justify-content: center;
}


.aboutImage{
    display: flex;
    width: 100%;
    margin: 50px 0px 0px 0px;
}


/* Why領域 */

#course{
    width: 100%;
    display: block

}

.courseBox{
    display: flex;
    width: 100%;
    background: black; 
    justify-content: center;
    margin: 50px 0px 0px 0px;
}

.courseBoxWrap{
    justify-content: center;
    
}

.courseImage{
    display: flex;
    width: 650px;
    height: auto;
}

.courseText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 675px;
    height: 400px;
    padding: 30px 30px 30px 60px;
    background: black; 
}

.coueseTextBox{
    width:550px;
}

.courseCatch{
    font-size: 28px;
    color: #40e0d0;
    text-shadow: #e6e6fa 0px 0px 3px;
}

/* NEWS領域 */

.newsBoxWrap{
    width: 1100px;
    margin: 0 auto;
}

.newsBox{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}


.newsChild{
    width: 300px;
    padding:10px 20px 10px 20px;
}

.newsChild:hover{
    opacity: 0.6;
}

.newsImage{
    width: 270px;
    height: 150px;
}







.pullDown{
    width:400px;
    height: 40px;
}

.submitButtom{
    color: white;
    background: #ff8c00;
    font-size: 21px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 70px;
    border-style: none;

}

.submitButtom:hover{
    background: #ff8c00;
    opacity: 0.7;
}



#footer{
    height: 60px;
    background:#black;
    color : white;
    display: flex;
    justify-content: center;
    align-items: center;
}




  















